.cards{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0 15%;
  text-align: center;
}

.cards > div{
  box-shadow: 0px 10px 20px rgba(0,0,0, 0.3);
  height: 250px;
  padding: 2%;
}

.cards p{
  color: #4d6150d5;
}

.cards img{
  height: 150px;
}

